@font-face {
    font-family: 'Poppins';
    src: url('./font/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --page-font: 'Poppins', Helvetica, Arial, sans-serif;
    --medium-px: 20px;
    --small-px: 10px;

    --shelf-clr: 25, 76%, 31%;
    --white-clr: 0, 0%, 100%;
    --black-clr: 0, 0%, 20%;
    --blue-clr: 210, 97%, 65%;

    --box-shadow: 0, 0%, 0%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 18px;
}

body {
    background-color: hsl(var(--white-clr));
    font-family: var(--page-font);
    text-decoration: none;
    color: hsl(var(--black-clr));
}

header, h1, .bookshelf .shelf, .book, 
.form-container, .form-row, .form-row-checkbox,
.book-info-row {
    display: flex;
}

.form-container, .form-row, .book, .form-row-checkbox {
    justify-content: center;
}

.form-container button:nth-child(2) {
    position: relative;
    margin-bottom: -30px;
    outline: none;
}

header {
    align-items: center;
    background-color: hsl(var(--blue-clr));
    padding: var(--medium-px);
}

h1 {
    color: hsl(var(--white-clr));
    padding-left: var(--small-px);
}

.library-main {
    min-height: calc(100vh - 94px);
    padding: var(--medium-px);    
    background-image: url(img/Bookswall_generated.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.shelf {
    flex-wrap: wrap;
    background-color: #ebe0d4;
    border: 15px solid #cb9c7c;
    border-radius: var(--small-px);
    gap: 1.70em;
    padding: var(--medium-px);
    min-height: 330px;
    box-shadow: 
    5px 5px 0 hsl(var(--black-clr), 0.3),
    inset 5px 5px 0 hsl(var(--black-clr), 0.3);
    background-image: linear-gradient();
}

.book {
    align-items: center;
    width: 4.7rem;
    height: 14.5rem;
    border-radius: 20% 20% 3% 5% / 1% 1% 10% 60%;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    box-shadow:
    5px 5px 0 hsl(var(--black-clr), 0.3),
    inset 10px 0 0 hsl(var(--black-clr), 0.2),
    inset 20px 0 0 hsl(var(--black-clr), 0.1);
}

.book:hover {
    box-shadow:
    10px 10px 0 hsl(var(--black-clr), 0.3),
    inset 5px 0 0 hsl(var(--black-clr), 0.2),
    inset 10px 0 0 hsl(var(--black-clr), 0.1);
}

.book p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    font-size: 1.2rem;
    transform: rotate(180deg);
    text-align: center;
}

.book p:nth-child(4) {
    font-size: 0.9rem;
    opacity: 0.75;
}

::backdrop {
    background-color: hsl(var(--white-clr));
    opacity: 0.75;
}

dialog {
    border: none;
    border-radius: var(--small-px);
    box-shadow: 0 4px 6px hsl(var(--box-shadow), 0.1);
    margin: auto;
}

.close-btn-header {
    text-align: end;
    background-color: hsl(var(--blue-clr));
}

.close-btn-header > button {
    border: 0;
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--black-clr);
    width: 50px;
    height: 50px;
}

button {
    background-color: hsl(var(--blue-clr));
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    height: 3rem;
    width: 10rem;
    border: 0;
    font-size: 1.2rem;
    font-weight: 900;
    color: hsl(var(--white-clr));
    border-radius: 1em;
    text-shadow: 
        -1px -1px 0 hsl(var(--black-clr)),
        1px -1px 0 hsl(var(--black-clr)),
        -1px 1px 0 hsl(var(--black-clr)),
        1px 1px 0 hsl(var(--black-clr)),
        2px 2px 1px hsl(var(--black-clr), 0.5);
    box-shadow:
        inset 0 -2px 4px hsl(var(--black-clr), 0.5),
        inset 0 2px 4px hsl(var(--white-clr), 0.5);
}

.close-btn-header > button {
    border: 0;
    box-shadow: none;
    color: hsl(var(--white-clr));
    text-align: end;
    padding-right: var(--medium-px);
}

button:hover {
    font-size: 1.4rem;
    transition: 0.2s;
}

.book > button:nth-child(1),
.book > button:nth-child(2) {
    position: absolute;
    border: 0;
    font-size: 1.2rem;
    background-color: hsl(var(--blue-clr), 0.7);
    box-shadow: none;
    opacity: 0;
    transition: 0.5s;
}

.book > button:nth-child(1):hover,
.book > button:nth-child(2):hover {
    background-color: hsl(var(--blue-clr));
}

.book > button:nth-child(1) {
    top: 0;
}

.book > button:nth-child(2) {
    bottom: 0;
}

.book > button:hover {
    cursor: inherit;
}

.book:hover > button {
    opacity: 1;
    z-index: 1;
}

.book-info-row {
    justify-content: space-between;
    border: 2px solid hsl(var(--blue-clr), 0.5);
    padding: var(--small-px);
    margin: var(--small-px);
    border-radius: var(--medium-px);
    font-size: 1.2rem;
}

.book-info-row p {
    margin-right: var(--medium-px);
    color: hsl(var(--blue-clr));
}

/* Form related classes */
.popup-container {
    padding: var(--medium-px);
}

.popup-container p {
    font-weight: 900;
}

.popup-container p span {
    font-weight: 300;
}

.read-label, .form-row {
    position: relative;
}

.form-row {
    padding: 7px 0px 7px 0px;
    color: #666;
}

.form-row-checkbox {
    gap: var(--small-px);
}

.form-row input {
    font-size: 1rem;
    padding: 5px 10px;
}

.label {
    position: absolute;
}

.input {
    border: 2px solid hsl(var(--blue-clr), 0.5);
    border-radius: var(--small-px);
    height: 50px;
    caret-color: hsl(var(--blue-clr));
    transition: border 500ms;
    padding: 20px 16px 6px;
    font-size: 1rem;
}

.input:focus {
    transition: 0.5s;
    border: 2px solid hsl(var(--blue-clr));
    outline: none;
}

.label {
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transform-origin: left top;
    user-select: none;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
    background-color: hsl(var(--white-clr));
}

label:hover {
    cursor: text;
}

.input:focus + .label,
.input.is-valid + .label {
  transform: translateY(-130%) scale(0.75); /* Moves and scales label on input focus or valid input */
  color: hsl(var(--blue-clr));
  font-weight: 400;
}

dialog {
    min-width: 300px;
}

dialog[open] {
    animation: scaleIn 0.5s ease normal;
}
  
@keyframes scaleIn{
    from {
        scale: 0;
    }
    to {
        scale: 1;
    }
}

